
<!--RIGHT SECTION-->

<div class="right-section">
    <div class="restotitle-parent">
        <div id="resto-title-container" class="restotitle-container">
        <h1 id="resto-title" class="bold">{{restoData.[0].restoName}}</h1>
        </div>
    </div>
    <div class="review-title-container">
        <h2 class="bold">Reviews</h2>
    </div>
    <div class="reviews-cotainer">
    
        <div id="first-review" class="review-popup">
        <div class="left-review-popup-odd">
            <img
            src="https://www.shutterstock.com/image-vector/user-profile-icon-vector-avatar-600nw-2247726673.jpg"
            alt="no image"
            />
        </div>
        <div class="right-review-popup-odd">
            <h3 class="italic bold">{{commentData.[0].username}}</h3>
            <p></p>
            <span id="first-star-1" class="fa fa-star"></span>
            <span id="second-star-1" class="fa fa-star"></span>
            <span id="third-star-1" class="fa fa-star"></span>
            <span id="fourth-star-1" class="fa fa-star"></span>
            <span id="fifth-star-1" class="fa fa-star"></span>
        </div>
        </div>

        <div id="second-review" class="review-popup">
        <div class="left-review-popup-even">
            <h3 class="italic bold"></h3>
            <p></p>
            <span id="first-star-2" class="fa fa-star"></span>
            <span id="second-star-2" class="fa fa-star"></span>
            <span id="third-star-2" class="fa fa-star"></span>
            <span id="fourth-star-2" class="fa fa-star"></span>
            <span id="fifth-star-2" class="fa fa-star"></span>
        </div>
        <div class="right-review-popup-even">
            <img
            src="https://www.shutterstock.com/image-vector/user-profile-icon-vector-avatar-600nw-2247726673.jpg"
            alt=""
            />
        </div>
        </div>
        <div id="third-review" class="review-popup">
        <div class="left-review-popup-odd">
            <img
            src="https://www.shutterstock.com/image-vector/user-profile-icon-vector-avatar-600nw-2247726673.jpg"
            alt=""
            />
        </div>
        <div class="right-review-popup-odd">
            <h3 class="italic bold"></h3>
            <p></p>
            <span id="first-star-3" class="fa fa-star"></span>
            <span id="second-star-3" class="fa fa-star"></span>
            <span id="third-star-3" class="fa fa-star"></span>
            <span id="fourth-star-3" class="fa fa-star"></span>
            <span id="fifth-star-3" class="fa fa-star"></span>
        </div>
        </div>
    </div>
</div>