<header class="top-header">
  <img src="./images/LOGO-WT.png" alt="eggy-logo" id="eggy-logo" />
  <div class="whole-search">
    <div class="search">
      <form class="search-form">
        <a href="/view-establishment.hbs" class="home-link"><i
            class="fas fa-home"
            id="home-icon"
          ></i></a>
        <input type="text" placeholder="Search..." class="search-input" />
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
  <div class="top-profile" id="top-profile">
    <img src="./images/profile-pic.jpg" alt="profile-pic" id="profile-pic" />
  </div>
</header>